.why-hire-me {
  height: 100vh;
  padding: 0 100px;
}

.why-hire-me h3 {
  margin-top: 100px;
}

.why-hire-me img {
  left: 0;
  user-select: none;
}

.why-hire-me .hiring-reasons {
  margin-top: 100px;
}

.hiring-reason p {
  word-wrap: break-word;
}

.hiring-reason .outer-border {
  width: 200px;
  height: 200px;
  border: 1px solid var(--dark-gray);
  border-radius: 50%;
}

.outer-border .inner-border {
  width: 85%;
  height: 85%;
  background-color: var(--purple-light);
  border: 1px solid var(--purple);
  border-radius: 50%;
}
